<div id="landing">
  <div class="landing-background">
  </div>
  <div class="fixed-logo">
    <%= image_tag 'logo.png' %>
  </div>
  <div id="menu">
    <p>About</p>
    <p>Services</p>
    <p>Portfolio</p>
    <p>Contact</p>
  </div>
</div>
<div id="about">

</div>

